html{
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'roboto';
}
.api-name{
    max-width: 350px;
    margin: 40px auto;
}
.api-name h1{
    padding: 20px 40px;
    margin: 0;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #9C27B0;
}
.calender_container{
    max-width: 600px;
    margin: 0 auto;
}
@media(max-width:640px){
    .calender_container{
        max-width: auto;
        margin: 0 15px;
    }
}